.container-1, .container-2, .container-3, .container-4, .container-5 {
    border : 1px solid black;
    width : 75%;
    margin : 0 auto;
    text-align : center;
}
.flex-box-container-1, .flex-box-color-picker, .flex-box-container-2, .flex-box-rps, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
 display : flex;   
 border: 1px solid black;
 padding : 10px;
 flex-wrap : wrap;
 flex-direction:  row;
 justify-content : space-around;
}
.flex-blackjack-row-1{
    background: url(https://img.freepik.com/free-photo/jack-spade-heart-ace-card-with-casino-chip-stack-green-poker-table_23-2147881160.jpg?size=626&ext=jpg) center;
    color : #ffffff;
}
.flex-blackjack-row-2{
    background: url(https://img.freepik.com/free-photo/jack-spade-heart-ace-card-with-casino-chip-stack-green-poker-table_23-2147881160.jpg?size=626&ext=jpg) center top;
    color : #ffffff;
}
.flex-blackjack-row-1 div{
    border : 1px solid black;
    padding : 10px;
    flex :1;
    text-align: center;
    height : 350px;
}
.flex-blackjack-row-1 img{
    width : 25%;
    padding : 10px;
}
.flex-blackjack-row-2 button{
    border : 1px solid black;
    
}
.flex-blackjack-row-2 div{
    border : 1px solid black;
    padding : 10px;
}
table, th, td{
    border : 1px solid black;
    padding : 5px;
}
.flex-box-container-1 div{
    display : flex;  
    border : 1px solid black;
    padding : 10px;
}
.flex-box-container-2 img{
    margin : 10px;
    box-shadow : 0px 10px 50px rgba(0, 0, 0, 0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}